@import "src/assets/styles/responsive";

.header {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.6rem;

  @include tablet-desktop {
    flex-direction: row;
    align-items: center;
  }

  &__left {
    flex: 1;
    display: flex;
    flex-direction: column;

    form {
      @include just-desktop {
        width: 50%;
      }
    }

    @include tablet-desktop {
      flex-direction: row;
      align-items: center;
      gap: 3.2rem;
    }

    &__icon {
      display: flex;
      gap: 1rem;
      align-items: center;
      margin-bottom: 1.6rem;

      &__figure {
        width: 6rem;
      }

      &__title {
        font-size: 2.4rem;
      }
    }
  }

  &__right {

    &__ul {
      display: flex;
      justify-content: center;
      gap: .8rem;

      li {
        list-style: none;

        a {
          font-size: 1.2rem;
          display: block;
          width: 100%;
          text-decoration: none;
          color: #000;
          padding: .8rem 2.4rem;
          border-radius: 3.2rem;
          font-family: Roboto-bold, serif;
          transition: all ease-in-out .3s;
        }

        a:hover {
          color: #33aa97;
        }
      }

      &__btn {
        border: 2.5px solid #9bddcc;
        color: #9bddcc !important;
        background-color: #fff;
        transition: all ease-in-out .3s;
      }

      &__btn:hover {
        background-color: #9bddcc;
        color: #fff !important;
      }

    }
  }

  &__ul {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
    padding: 1.6rem 0;

    @include tablet-desktop {
      justify-content: space-between;
    }

    li {
      list-style: none;
    }

    a {
      font-size: 1.2rem;
      color: #000;
      text-decoration: none;
      transition: all ease-in-out .3s;
    }

    a:hover {
      color: #33aa97;
    }
  }

}

.main {
  background-color: #38b695;

  &__div {
    display: flex;
    align-items: center;
    gap: 4.8rem;
    padding: 16rem 1rem !important;
    flex-direction: column;

    @include tablet-desktop {
      flex-direction: row;
    }

  }

  &__left {
    @include tablet-desktop {
      flex: 1;
    }

    &__title {
      font-size: 4.8rem;
      color: #fff;
      word-spacing: 1.4rem;
    }

    &__text {
      color: #fff;
      font-family: "Roboto-Light", serif;
      margin: 5.6rem 0;
      line-height: 2.4rem;
      font-size: 1.4rem;
    }

    &__buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;

      button {
        padding: 1.1rem 3rem;
        border-radius: 2rem;
        border: none;
        font-size: 1.4rem;
        cursor: pointer;
      }

      &__btn1 {
        background-color: #fff;
        color: #000;
        box-shadow: 0 15px 10px 10px #2c604a40;
      }

      &__btn2 {
        color: #fff;
        background-color: transparent;
      }
    }
  }

  &__rigth {
    flex: 2;
    margin: auto;

    @include just-tablet {
      flex: 1;
    }

    @include just-desktop {
      flex: 2;
    }

  }

  &__icons {
    padding: 3.2rem 0 !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__bg {
      background-color: #33aa97;
    }

    svg {
      font-size: 4rem;
      color: #ccc;
    }
  }

}